blog-automation/n8n-blog-workflow.json
{
  "name": "워크위드 블로그 자동화 v2 (SEO 최적화)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9,12,15 * * 1-5"
            }
          ]
        }
      },
      "id": "a1000001-0000-0000-0000-000000000001",
      "name": "매일 3회 실행",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "발행이력"
        }
      },
      "id": "a1000001-0000-0000-0000-000000000002",
      "name": "발행이력 읽기",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "설정"
        }
      },
      "id": "a1000001-0000-0000-0000-000000000003",
      "name": "설정 읽기",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 500],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "a1000001-0000-0000-0000-000000000004",
      "name": "데이터 합치기",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "// === 발행이력 + 설정 데이터 준비 ===\nconst allHistory = $('발행이력 읽기').all();\n\n// 기발행 키워드 (최근 200개 - 중복 방지 범위 확대)\nconst publishedKeywords = allHistory\n  .map(item => item.json['키워드'])\n  .filter(k => k)\n  .slice(-200)\n  .join(', ');\n\n// 최근 7일 카테고리 분포 (균형 잡힌 순환)\nconst recentCategories = allHistory\n  .slice(-21)\n  .map(item => item.json['카테고리'])\n  .filter(c => c);\n\nconst categoryCounts = {};\nrecentCategories.forEach(c => {\n  categoryCounts[c] = (categoryCounts[c] || 0) + 1;\n});\n\nconst allCategories = [\n  'CS대행', '콜센터운영', '인력아웃소싱',\n  '채용대행', '고객상담팁', '콜쉐어링',\n  '인사노무', '업종별CS'\n];\n\n// 가장 적게 다룬 카테고리 우선\nconst sortedCategories = [...allCategories].sort((a, b) =>\n  (categoryCounts[a] || 0) - (categoryCounts[b] || 0)\n);\n\n// 최근 발행한 제목 5개 (내부 링크용)\nconst recentTitles = allHistory\n  .slice(-5)\n  .map(item => item.json['제목'])\n  .filter(t => t);\n\nconst today = new Date();\nconst dateStr = today.toISOString().split('T')[0];\nconst dayOfWeek = ['일','월','화','수','목','금','토'][today.getDay()];\n\nconst todayPosts = allHistory.filter(\n  item => item.json['날짜'] === dateStr\n).length;\n\nreturn [{\n  json: {\n    publishedKeywords,\n    priorityCategory: sortedCategories[0],\n    secondaryCategory: sortedCategories[1],\n    categoryCounts: JSON.stringify(categoryCounts),\n    allCategories: allCategories.join(', '),\n    recentTitles: recentTitles.join(' | '),\n    date: dateStr,\n    dayOfWeek,\n    todayPostIndex: todayPosts + 1\n  }\n}];"
      },
      "id": "a1000001-0000-0000-0000-000000000005",
      "name": "데이터 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"당신은 네이버 SEO 전문 마케터입니다.\\nCS대행/인력 아웃소싱 분야 블로그의 키워드를 선정합니다.\\n\\n[회사]\\n워크위드(WorkWith) - 콜센터 CS대행, 콜쉐어링, 인력 아웃소싱 전문기업\\n\\n[선정 조건]\\n1. 네이버에서 잠재고객(중소기업 대표, 이커머스 셀러, 스타트업)이 실제 검색할 키워드\\n2. 이미 발행한 키워드 제외: {{ $json.publishedKeywords }}\\n3. 우선 카테고리: {{ $json.priorityCategory }} (최근 가장 적게 다룸)\\n4. 전체 카테고리: {{ $json.allCategories }}\\n5. 오늘: {{ $json.date }} ({{ $json.dayOfWeek }}), {{ $json.todayPostIndex }}번째 글\\n\\n[키워드 전략]\\n- 롱테일 키워드 (2-4단어) → 경쟁 낮고 전환율 높음\\n- 검색의도 명확: 정보탐색형 또는 비교검토형\\n- 시즌/트렌드 반영 (월요일=주간업무, 금요일=주말준비 등)\\n\\n[제목 패턴 - 클릭률 높은 형식 택1]\\n- 수치형: 'CS대행 비용, 월 50만원부터 가능한 이유'\\n- 질문형: '콜센터 외주, 자체 운영보다 정말 나을까?'\\n- 비교형: '파견 vs 도급, 우리 회사에 맞는 건?'\\n- 리스트형: '아웃소싱 업체 선정 시 확인할 5가지'\\n- 문제해결형: '부재중 전화 때문에 매출 빠지고 있다면'\\n\\n[출력 - 반드시 JSON만 출력하세요]\\n{\\n  \\\"keyword\\\": \\\"메인 키워드\\\",\\n  \\\"lsi_keywords\\\": [\\\"연관키워드1\\\", \\\"연관키워드2\\\", \\\"연관키워드3\\\"],\\n  \\\"title\\\": \\\"SEO 최적화 제목 (40자 이내, 키워드 앞배치)\\\",\\n  \\\"title_type\\\": \\\"수치형|질문형|비교형|리스트형|문제해결형\\\",\\n  \\\"category\\\": \\\"카테고리명\\\",\\n  \\\"search_intent\\\": \\\"검색의도 (1줄)\\\",\\n  \\\"target_audience\\\": \\\"타겟 독자\\\",\\n  \\\"content_angle\\\": \\\"차별화 포인트\\\",\\n  \\\"first_sentence\\\": \\\"본문 첫 문장 (키워드 포함, 독자 공감 유도)\\\"\\n}\"\n    }\n  ]\n}"
      },
      "id": "a1000001-0000-0000-0000-000000000006",
      "name": "키워드 선정 (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CLAUDE_API_CREDENTIAL_ID",
          "name": "Claude API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === Claude 키워드 응답 파싱 ===\nconst response = $input.first().json;\nconst content = response.content[0].text;\n\n// JSON 추출 (코드블록 or 순수 JSON)\nlet jsonStr = content;\nconst jsonMatch = content.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\nif (jsonMatch) {\n  jsonStr = jsonMatch[1].trim();\n} else {\n  const braceMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (braceMatch) jsonStr = braceMatch[0];\n}\n\nlet keywordData;\ntry {\n  keywordData = JSON.parse(jsonStr);\n} catch (e) {\n  throw new Error(`키워드 JSON 파싱 실패: ${e.message}\\n원본: ${content}`);\n}\n\n// lsi_keywords 배열을 문자열로 변환 (프롬프트에서 사용)\nconst lsiStr = Array.isArray(keywordData.lsi_keywords)\n  ? keywordData.lsi_keywords.join(', ')\n  : keywordData.lsi_keywords || '';\n\nconst prevData = $('데이터 준비').first().json;\n\nreturn [{\n  json: {\n    ...keywordData,\n    lsi_keywords_str: lsiStr,\n    ...prevData\n  }\n}];"
      },
      "id": "a1000001-0000-0000-0000-000000000007",
      "name": "키워드 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5-20250929\",\n  \"max_tokens\": 8192,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"당신은 네이버 블로그 SEO 전문 작가입니다.\\n2026년 네이버 DIA/C-Rank 알고리즘에 최적화된 블로그 글을 작성합니다.\\n\\n[키워드 정보]\\n- 메인 키워드: {{ $json.keyword }}\\n- 연관 키워드(LSI): {{ $json.lsi_keywords_str }}\\n- 제목: {{ $json.title }}\\n- 검색의도: {{ $json.search_intent }}\\n- 타겟독자: {{ $json.target_audience }}\\n- 차별화: {{ $json.content_angle }}\\n- 첫 문장: {{ $json.first_sentence }}\\n\\n[내부 링크 - C-Rank 강화용]\\n- 최근 발행 글: {{ $json.recentTitles }}\\n- 본문 중 관련 주제가 나오면 위 제목을 자연스럽게 1-2회 언급하세요 (예: '이 부분은 지난 글 <관련 제목>에서 자세히 다뤘습니다')\\n- 최근 글이 없으면 이 섹션 무시\\n\\n[회사 정보 - 워크위드(WorkWith)]\\n- 서비스: CS대행, 콜쉐어링, 인력 아웃소싱, 채용대행\\n- 전화: 1533-4999 / 홈페이지: walkwithcall.co.kr\\n- 강점: 자체 상담원 보유, AI 기반 품질관리, 소규모부터 가능\\n- ★ 주의: 워크위드의 구체적인 단가(금액)는 본문에 절대 넣지 마세요\\n- CTA에서만 '무료 견적 상담' 정도로 자연스럽게 언급\\n\\n[업계 레퍼런스 데이터 - 글에서 활용할 시장 수치]\\n- 상담원 1명 자체고용 실비용: 월 약 300만원 (급여230+4대보험23+퇴직금19+장비/공간30)\\n- 상담원 1명 하루 처리 가능 콜: 인바운드 80~120건\\n- CS대행 업계 평균 월 비용: 콜쉐어링 40~80만원 / 반전담 120~180만원 / 전담 250~350만원\\n- CS대행 업체 평균 초기 구축비: 100~300만원\\n- 이커머스 CS 외주 도입 후 평균 고객만족도 상승: 15~25%\\n- 콜센터 상담원 평균 이직률: 연 30~40%\\n- 자체 채용 시 공고~실근무까지 평균 소요기간: 4~6주\\n- 위탁도급 vs 파견: 지휘명령권 여부가 핵심 차이 (불법파견 주의)\\n- 네이버 스마트스토어 기준 CS 불만 리뷰 1건 = 매출 약 2~3% 하락 추정\\n- 2026년 최저시급: 10,030원 / 월환산: 약 230만원\\n\\n[글 컨셉]\\n- 워크위드를 직접 광고하지 않습니다\\n- CS대행/인력아웃소싱 분야의 전문 지식을 정보 제공 형태로 작성합니다\\n- 독자가 읽고 '이 블로그 운영하는 업체는 업계를 잘 아는구나'라고 느끼게 합니다\\n- 업계 평균 시세, 실무 팁, 체크리스트, 법적 주의사항 등 실용적 정보 중심\\n- 특정 업체 단가나 가격 비교는 하지 않습니다\\n\\n========================================\\n[2026 네이버 SEO 필수 규칙]\\n========================================\\n\\n1. ★ 글 구조 (DIA 알고리즘 최적화) ★\\n   반드시 아래 구조를 따르세요:\\n\\n   ① 핵심 답변 (첫 2-3문장)\\n      - 키워드를 포함한 명확한 답변 문장\\n      - 네이버 AI가 스니펫으로 인용할 수 있는 한 줄 정의\\n      - 예: '<메인키워드>란 ~하는 것으로, ~한 경우에 활용됩니다.'\\n\\n   ② 상세 설명 (소제목 3-4개)\\n      - 각 소제목에 키워드 또는 연관키워드 포함\\n      - 구체적 사례, 수치, 비교표 포함\\n      - 실무 팁/체크리스트 형태로 실용적 정보\\n\\n   ③ 근거/데이터\\n      - 비용 범위, 업계 통계, 법적 근거 등 구체적 수치\\n      - 출처가 있으면 명시\\n\\n   ④ FAQ (자주 묻는 질문 2-3개)\\n      - <h3>자주 묻는 질문</h3>\\n      - Q&A 형식, 키워드 자연 포함\\n      - 네이버 AI 검색에서 FAQ가 스니펫 인용 확률 가장 높음\\n\\n   ⑤ CTA (자연스러운 마무리)\\n      - 글 마지막에 워크위드를 1회만 짧게 언급\\n      - '더 궁금한 점은 워크위드(1533-4999)로 문의주세요' 정도\\n      - 가격, 할인, 프로모션 등 영업성 문구 절대 금지\\n      - 글 전체에서 워크위드 언급은 CTA 1회만 (본문에 넣지 마세요)\\n\\n2. ★ 키워드 배치 전략 ★\\n   - 첫 2문장: 메인 키워드 반드시 포함 (가장 중요!)\\n   - 소제목(h3): 4개 중 2개 이상에 키워드 포함\\n   - 본문: 메인 키워드 5-7회 + 연관키워드({{ $json.lsi_keywords_str }}) 각 1-2회\\n   - 마지막 문단: 메인 키워드 1회\\n   - <strong> 태그: 메인 키워드 첫 등장 시 볼드 처리\\n   - 주의: 같은 키워드 2문장 연속 금지 (과최적화 패널티)\\n\\n3. ★ AI 요약 최적화 ★\\n   - 각 소제목 직후 첫 문장을 '핵심 요약 문장'으로 작성\\n   - 예: '콜센터 외주 비용은 콜쉐어링 기준 월 40~80만원, 전담 배정 시 250~350만원 수준입니다.'\\n   - 이 문장들이 네이버 AI 검색에서 인용됨\\n\\n4. ★ 체류시간 극대화 ★\\n   - 분량: 3,000~4,000자 (네이버 상위노출 최적 길이. 반드시 3,000자 이상 작성할 것)\\n   - 표(table) 또는 비교 리스트 최소 1개\\n   - 번호 리스트(ol) 또는 불릿 리스트(ul) 최소 2개\\n   - 단락 사이 적절한 여백 (<br>)\\n   - 이미지 위치 5-6곳 표시: <!-- IMAGE: 이미지설명 | 검색키워드(영문, korean business 포함) --> 형식\\n   - 이미지 검색어에 반드시 korean 또는 asian 포함 (한국/동양 분위기 사진 사용)\\n\\n5. ★ 빈말 금지 (가장 중요!) ★\\n   - 모든 문단에 반드시 다음 중 1개 이상 포함: 구체적 수치, 비용 범위, 비교 데이터, 실무 사례, 체크리스트, 법적 근거\\n   - 금지 표현: '~하는 것이 중요합니다', '많은 분들이', '다양한 방법이', '적절한 대응이 필요합니다' 등 내용 없는 일반론\\n   - 위 [업계 레퍼런스 데이터]의 수치를 적극 활용하세요\\n   - '중요합니다' 대신 '월 150만원 절감됩니다'처럼 구체적으로 써야 합니다\\n   - 자체검증: 한 문단을 읽었을 때 독자가 '아, 이건 새로운 정보다'라고 느껴야 합니다. 느끼지 못하면 다시 쓰세요\\n\\n6. 톤/스타일\\n   - 전문적이지만 쉬운 말투, 존댓말\\n   - '~입니다만', '~인데요' 같은 어색한 블로그체 금지\\n   - '안녕하세요 OO입니다' 서론 금지\\n   - AI가 쓴 티 나는 정형화된 패턴 금지\\n   - 이모지 금지\\n   - 같은 문장 구조 3회 이상 반복 금지\\n   - '결론적으로', '따라서', '이처럼' 남발 금지 (글 전체에서 각 1회 이하)\\n\\n========================================\\n[출력 형식]\\n========================================\\nHTML 형식으로 출력하세요.\\n- 제목은 포함하지 마세요 (네이버에서 별도 입력)\\n- 소제목: <h3> 태그\\n- 본문: <p> 태그 (문단별 분리)\\n- 키워드 첫 등장: <strong> 태그로 감싸기\\n- 리스트: <ul><li> 또는 <ol><li>\\n- 비교/정리: <table> 태그\\n- 이미지 위치: <!-- IMAGE: 이미지설명 | 검색키워드(영문) --> (5곳)\\n- FAQ: Q는 <strong>, A는 <p>\\n- 전체를 <div>로 감싸지 마세요, 바로 내용부터 시작\"\n    }\n  ]\n}"
      },
      "id": "a1000001-0000-0000-0000-000000000008",
      "name": "블로그 글 생성 (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CLAUDE_API_CREDENTIAL_ID",
          "name": "Claude API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === SEO 검증 + 네이버 포맷팅 ===\nconst response = $input.first().json;\nconst content = response.content[0].text;\n\n// HTML 추출\nlet htmlContent = content;\nconst htmlMatch = content.match(/```(?:html)?\\s*([\\s\\S]*?)```/);\nif (htmlMatch) {\n  htmlContent = htmlMatch[1].trim();\n}\n\nconst keywordData = $('키워드 파싱').first().json;\nconst keyword = keywordData.keyword;\n\n// === SEO 검증 ===\nconst textOnly = htmlContent.replace(/<[^>]*>/g, '').replace(/<!--[\\s\\S]*?-->/g, '');\nconst charCount = textOnly.length;\n\n// 키워드 출현 횟수\nconst keywordRegex = new RegExp(keyword, 'g');\nconst keywordCount = (textOnly.match(keywordRegex) || []).length;\n\n// 첫 200자에 키워드 포함 여부\nconst first200 = textOnly.substring(0, 200);\nconst keywordInFirst200 = first200.includes(keyword);\n\n// h3 태그 수\nconst h3Count = (htmlContent.match(/<h3/g) || []).length;\n\n// FAQ 존재 여부\nconst hasFAQ = htmlContent.includes('자주 묻는 질문') || htmlContent.includes('FAQ');\n\n// strong 태그에 키워드 포함 여부\nconst strongRegex = new RegExp(`<strong>[^<]*${keyword}[^<]*</strong>`);\nconst hasStrongKeyword = strongRegex.test(htmlContent);\n\n// table 또는 ul/ol 존재\nconst hasTable = htmlContent.includes('<table');\nconst hasList = htmlContent.includes('<ul') || htmlContent.includes('<ol');\n\n// SEO 점수 계산\nlet seoScore = 0;\nconst seoChecks = [];\n\nif (charCount >= 3000) { seoScore += 15; seoChecks.push('글자수 OK'); }\nelse if (charCount >= 2500) { seoScore += 8; seoChecks.push(`글자수 ${charCount}자 (3000+ 권장)`); }\nelse { seoChecks.push(`글자수 부족: ${charCount}자 (3000+ 필요)`); }\n\nif (charCount <= 5000) { seoScore += 5; }\nelse { seoChecks.push('글자수 초과 주의'); }\n\n// 이미지 플레이스홀더를 Unsplash 이미지로 교체\nconst imageRegex = /<!-- IMAGE: ([^|]+)\\|\\s*([^-]+)-->/g;\nlet imageIndex = 0;\nconst unsplashImages = [\n  'photo-1600880292203-757bb62b4baf', 'photo-1552664730-d307ca884978',\n  'photo-1557804506-669a67965ba0', 'photo-1531973576160-7125cd663d86',\n  'photo-1517245386807-bb43f82c33c4', 'photo-1542744094-24638eff58bb'\n];\nhtmlContent = htmlContent.replace(imageRegex, (match, desc, searchKey) => {\n  const imgId = unsplashImages[imageIndex % unsplashImages.length];\n  imageIndex++;\n  const altText = desc.trim();\n  return `<br><img src=\\\"https://images.unsplash.com/${imgId}?w=740&h=420&fit=crop&q=80\\\" alt=\\\"${altText}\\\" style=\\\"width:100%;border-radius:8px;margin:16px 0;\\\" /><br>`;\n});\n\nconst imageCount = imageIndex;\n\nif (keywordInFirst200) { seoScore += 20; seoChecks.push('첫문단 키워드 OK'); }\nelse { seoChecks.push('첫문단 키워드 누락!'); }\n\nif (keywordCount >= 5 && keywordCount <= 8) { seoScore += 15; seoChecks.push(`키워드 ${keywordCount}회 OK`); }\nelse if (keywordCount >= 3) { seoScore += 8; seoChecks.push(`키워드 ${keywordCount}회 (5-7회 권장)`); }\nelse { seoChecks.push(`키워드 ${keywordCount}회 부족!`); }\n\nif (h3Count >= 3) { seoScore += 10; seoChecks.push(`소제목 ${h3Count}개 OK`); }\nelse { seoChecks.push(`소제목 ${h3Count}개 (3개+ 권장)`); }\n\nif (hasFAQ) { seoScore += 15; seoChecks.push('FAQ 있음 OK'); }\nelse { seoChecks.push('FAQ 누락!'); }\n\nif (hasStrongKeyword) { seoScore += 10; seoChecks.push('키워드 볼드 OK'); }\nelse { seoChecks.push('키워드 볼드 누락'); }\n\nif (hasTable || hasList) { seoScore += 10; seoChecks.push('표/리스트 OK'); }\nelse { seoChecks.push('표/리스트 누락'); }\n\n// 빈말 금지 자동 검증\nconst fluffPhrases = ['하는 것이 중요합니다', '많은 분들이', '다양한 방법이', '적절한 대응이 필요합니다', '꼼꼼히 살펴보', '신중하게 검토'];\nconst foundFluff = fluffPhrases.filter(p => textOnly.includes(p));\nif (foundFluff.length === 0) { seoScore += 5; seoChecks.push('빈말 없음 OK'); }\nelse { seoScore -= 5; seoChecks.push(`빈말 발견: ${foundFluff.join(', ')}`); }\n\n// 네이버 스타일 래핑\nconst naverFormatted = `<div style=\"font-family: 'Noto Sans KR', sans-serif; line-height: 1.9; color: #333; font-size: 16px;\">\n${htmlContent}\n</div>`;\n\nreturn [{\n  json: {\n    title: keywordData.title,\n    keyword: keyword,\n    lsi_keywords: keywordData.lsi_keywords_str,\n    category: keywordData.category,\n    search_intent: keywordData.search_intent,\n    htmlContent: naverFormatted,\n    charCount,\n    keywordCount,\n    seoScore,\n    seoChecks: seoChecks.join(' | '),\n    keywordInFirst200,\n    hasFAQ,\n    date: keywordData.date\n  }\n}];"
      },
      "id": "a1000001-0000-0000-0000-000000000009",
      "name": "SEO 검증 + 포맷팅",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "seo-score-check",
              "leftValue": "={{ $json.seoScore }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "char-count-check",
              "leftValue": "={{ $json.charCount }}",
              "rightValue": 2800,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1000001-0000-0000-0000-000000000013",
      "name": "SEO 품질 체크",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "발행이력"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "날짜": "={{ $json.date }}",
            "시간": "={{ new Date().toTimeString().split(' ')[0] }}",
            "키워드": "={{ $json.keyword }}",
            "LSI키워드": "={{ $json.lsi_keywords }}",
            "제목": "={{ $json.title }}",
            "카테고리": "={{ $json.category }}",
            "글자수": "={{ $json.charCount }}",
            "키워드횟수": "={{ $json.keywordCount }}",
            "SEO점수": "={{ $json.seoScore }}",
            "SEO체크": "={{ $json.seoChecks }}",
            "HTML내용": "={{ $json.htmlContent }}",
            "상태": "복붙 대기"
          }
        }
      },
      "id": "a1000001-0000-0000-0000-000000000011",
      "name": "발행이력 기록",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2220, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "발행이력"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "날짜": "={{ $('SEO 검증 + 포맷팅').first().json.date }}",
            "시간": "={{ new Date().toTimeString().split(' ')[0] }}",
            "키워드": "={{ $('SEO 검증 + 포맷팅').first().json.keyword }}",
            "제목": "={{ $('SEO 검증 + 포맷팅').first().json.title }}",
            "카테고리": "={{ $('SEO 검증 + 포맷팅').first().json.category }}",
            "글자수": "={{ $('SEO 검증 + 포맷팅').first().json.charCount }}",
            "SEO점수": "={{ $('SEO 검증 + 포맷팅').first().json.seoScore }}",
            "상태": "SEO 미달 (점수: {{ $('SEO 검증 + 포맷팅').first().json.seoScore }}, 체크: {{ $('SEO 검증 + 포맷팅').first().json.seoChecks }})"
          }
        }
      },
      "id": "a1000001-0000-0000-0000-000000000012",
      "name": "SEO 미달 기록",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2220, 550],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "매일 3회 실행": {
      "main": [
        [
          {
            "node": "발행이력 읽기",
            "type": "main",
            "index": 0
          },
          {
            "node": "설정 읽기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "발행이력 읽기": {
      "main": [
        [
          {
            "node": "데이터 합치기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "설정 읽기": {
      "main": [
        [
          {
            "node": "데이터 합치기",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "데이터 합치기": {
      "main": [
        [
          {
            "node": "데이터 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "데이터 준비": {
      "main": [
        [
          {
            "node": "키워드 선정 (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "키워드 선정 (Claude)": {
      "main": [
        [
          {
            "node": "키워드 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "키워드 파싱": {
      "main": [
        [
          {
            "node": "블로그 글 생성 (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "블로그 글 생성 (Claude)": {
      "main": [
        [
          {
            "node": "SEO 검증 + 포맷팅",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEO 검증 + 포맷팅": {
      "main": [
        [
          {
            "node": "SEO 품질 체크",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEO 품질 체크": {
      "main": [
        [
          {
            "node": "발행이력 기록",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEO 미달 기록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "블로그자동화"
    },
    {
      "name": "워크위드"
    },
    {
      "name": "SEO"
    }
  ],
  "pinData": {}
}